
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ Blog của Lộc | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            Lê Phước Lộc
            </li>
            
            <li><a class="lploc94@gmail.com" href="mailto:lploc94@gmail.com">lploc94@gmail.com</a></li>
            
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>Description: chưa biết viết gì vào đây, đại loại là có rất nhiều chữ. sẽ bổ sung sau</p>
      </div>
    </div>

  </div>


