<style>
	html {
		height: 100%;
	}

	body {
		margin: 0;
		height: 100%;
	}

	#container {
		height: 100%;
	}

	#sidebar {
		float:left;
		height: 100%;
		width: 30%;
		vertical-align: top;
		overflow: auto;
		text-align: center;
		padding: 70px 0;
		background-color: #475C7A;
	}

	#content {
		float:right;
		height: 100%;
		width: 70%;
		vertical-align: top;
		overflow: auto;
		padding: 70px 0;
		background-color:#fcbb6d;
	}
	#main{
		margin: 25px 25px 25px 25px;
		background-color:white;
		padding:30px;
	}
	#footer{
		margin: 25px 25px 25px 25px;	
		background-color:white;
		padding:30px;

  		bottom: 0;
	}
	/*custom style*/
	.custom-logo{
		border-radius: 30%;
		border: 8px solid #685D79;
	}
	p,a,h1,h2,h3,li,ul{
		font-family: 'Montserrat', sans-serif;
	}
</style>
