<style>
	html {
		height: 100%;
	}

	body {
		margin: 0;
		height: 100%;
	}

	#container {
		height: 100%;
	}

	#sidebar {
		float:left;
		height: 100%;
		width: 25%;
		/*vertical-align: top;*/
		overflow: auto;
		text-align: center;
		padding: 40px 0;
		background-color: #475C7A;
		color:#fcbb6d;
	}
	div#sidebar *{
		color:#fcbb6d;
	}

	.wrapper {
		display: flex;
	}

	#content {
		float:right;
		height: 100%;
		width: 75%;
		/*vertical-align: top;*/
		overflow: auto;
		padding: 40px 0;
		background-color:#fcbb6d;
		
	}
	#main{
		border-radius: 2%;
		margin: 0px 25px 25px 25px;
		background-color:white;
		padding:50px 50px 50px 50px;
		border: 2px solid #685D79;
	}

	#footer{
		border-radius: 2%;
		border: 2px solid #685D79;
		margin: 25px 25px 25px 25px;	
		background-color:#D8737F;
		padding:30px;
		color:#333333;
  		bottom: 2px;
	}
	div#footer *{
		color:#475C7A;

	}
	/*custom style*/
	.custom-logo{
		border-radius: 30%;
		border: 8px solid #fcbb6d;
	}
	p,a,h1,h2,h3,li,ul{
		font-family: 'Montserrat', sans-serif;
	}
</style>
